@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>OpenID Connect Client</h1>
</div>



<ul>
    <li><a href="/token/useaccesstoken">Use the access token</a></li>
    <li><a href="https://localhost:6001/.well-known/openid-configuration/jwks">View the JWKS endpoint</a></li>

</ul>



